@import scss-mixins
@import typography
@import icons
@import iframes

.map
  width: 100%
  max-width: 636px

map area
  &.selected
    outline: 4px solid red

@media screen and (max-width : 480px)
  .foo
    width: 0

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  .foo
    width: 0
  .icon
    display: inline-block
    margin: 0 5px

.pulse
  animation-name: pulse
  -webkit-animation-name: pulse

  animation-duration: 1.5s
  -webkit-animation-duration: 1.5s

  animation-iteration-count: infinite
  -webkit-animation-iteration-count: infinite

@keyframes pulse
  0%
    outline: 12px solid red
    // opacity: 0.7
  50%
    outline: 4px solid red
    opacity: 1
  100%
    outline: 12px solid red
    // opacity: 0.7;

@-webkit-keyframes pulse
  0%
    outline: 12px solid red
    // opacity: 0.7
  50%
    outline: 4px solid red
    // opacity: 1
  100%
    outline: 12px solid red
    // opacity: 0.7
